<div class="main">
  <div class="container">
    <h1>tundra-force</h1>
    <h2>send us a video</h2>
    <!-- <sub><sup>so we can know </sup></sub> -->
    </br>
    <form method='POST' enctype='multipart/form-data'>
        <input type="file" name="upfile" id="file-input" style="visibility: hidden;">
        <button class="btn btn-primary" id="upload-button">Upload file</button>
    </form>
    <div id="spinner" style="display: none;"></div>
    <!-- <label>
        <input type="file" name="input-name" style="display: none;" />
        <a class="btn btn-default btn-lg">Upload</a>
    </label> -->
  </div>
</div>
