<div class="main">
  <div class="container">
    <h1>tundra-force</h1>
    <h2>send us a video</h2>
    </br>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="upfile" id="file-input" style="visibility: hidden;">
        <button class="btn btn-primary btn-xlarge" id="upload-button">Upload file</button>
    </form>
    <div id="spinner" style="display: none; height: 50px"></div>
    <canvas id="result-chart" width="600" height="300"></canvas>
  </div>
</div>
